<footer class="d-flex justify-content-between align-items-center py-2 border-top bg-primary mb-0 ">
    <div class="col-md-4 mb-0 text-start ps-3" style="color: white">&copy; 2021 Company</div>
    <ul class="nav col-sm-6 justify-content-end">
        <li class="nav-item">
            <a href="/data" class="nav-link" style="color: white">User Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register" style="color: white">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/login" style="color: white">Log In</a>
        </li>
    </ul>
</footer>